{% extends "_layout.html" %}

{% block content %}
<section class="info-card">
  <h2>Index</h2>
  <p>Templates live in <code>web_pages_oomp/</code>.</p>
  <p>Link to sticker: <a href="http://192.168.1.231:5005">(main)</a><a href="http://192.168.1.231:5015">(oomp)</a></p>
  <p>Link to stat clash: <a href="http://192.168.1.231:5006">(main)</a><a href="http://192.168.1.231:5016">(oomp)</a></p>
  <p>Link to gift wrap: <a href="http://192.168.1.231:5007">(main)</a><a href="http://192.168.1.231:5017">(oomp)</a></p>
  <p>Link to spelling: <a href="http://192.168.1.231:5008">(main)</a><a href="http://192.168.1.231:5018">(oomp)</a></p>
  <p>Link to editing page: <a href="http://192.168.1.231:5009">(main)</a><a href="http://192.168.1.231:5019">(oomp)</a></p>
  <p>Link to story book: <a href="http://192.168.1.232:5010">(main)</a><a href="http://192.168.1.232:5020">(oomp)</a></p>
</section>
{% endblock %}
